{% extends 'main/layout.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
    <div class="container">
        <div class="article-content" style="max-width: 800px">
            <div class="main-content-header d-flex justify-content-between flex-wrap">
                <div class="title">
                    <p class="article-title mt-5 "><a href="#" class="blog-link">Blog</a> / {{article.title}}</p>
                </div>
            </div>
            <br>
            <div class="article">
                <p class="article-text"><span class="article-author">Author: {{ article.author}}, {{ article.date}}</span></p>
                <div class="article-picture"><img src="{{ article.picture.url }}" class="article-picture"></div>
                <p class="article-text">{{article.full_text}}</p>
            </div>
        </div>

        <!-- Button to Open the Modal -->
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              Delete
            </button>
            <a href="{%url 'article_update' article.id%}" class="btn btn-info">Update</a>
        {% endif %}

        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Delete article</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                Are you sure that you want to delete this article?
              </div>

              <!-- Modal footer -->
                  <form action="{% url 'article_delete' pk=article.pk %}" method="POST">
                       {% csrf_token %}
                       <button class="btn">Delete</button>
                </form>
            </div>
          </div>
        </div>
    </div>
<style>
    .blog-link{
        text-decoration: none;
        color:#45a7f5;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    .blog-link:hover{
        text-decoration:underline;
    }
    .article-title{
        font-weight: bold;
        color:black;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .article-author{
        color:grey;
    }
    .article-text{
        padding-bottom: 0.5rem;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        letter-spacing:0.2px;
        line-height:1.4rem;
    }

    .article-picture{
        max-width:900px;
        padding-bottom: 0.5rem;
    }
</style>
{% endblock %}
